* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.flex--center {
  justify-content: center;
}

.mt--xs {
  margin-top: 0.5rem;
}

.mt--s {
  margin-top: 1rem;
}

/* APP COMPONENT */

.app-container {
  background-color: #f7f7f7;
}

/* DASHBOARD COMPONENT */

.dashboard-container {
  width: 40rem;
}

/* AVATAR COMPONENT */

.avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

/* TWEET COMPONENT */

.tweet {
  background-color: #ffffff;
  border-top: 1px solid #ebebeb;
  padding: 1rem;
}

.tweet__body {
  padding-left: 1.5rem;
}

.tweet__username {
  font-weight: bold;
}

.tweet__button {
  background: transparent;
  border: none;
}

.tweet__button:focus {
  outline: 0;
}

/* NEW TWEET COMPONENT */

.new-tweet {
  background-color: #e3f4fc;
  border-top: 1px solid #ebebeb;
  padding: 1rem;
}